.row {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 8px;
}

.image {
  height: 18px;
  width: 18px;
  object-fit: contain;
}

.text {
  font-size: 13px;
  font-weight: 400;
}