.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.name {
  text-align: center;
  animation: fade-in 1s;
}

.profession {
  text-align: center;
  animation: fade-in 1s;
}

.centeredContainer {
  max-width: 700px;
}

.experiencesContainer {
  display: flex;
  column-gap: 20px;
  flex-direction: column;
  margin-top: 20px;
  animation: fade-in 1s;
}

.languagesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 25px;
  margin-bottom: 60px;
  animation: fade-in 1s;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  animation: fade-in 1s;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.02);
  }
  to {
    opacity: 100;
    transform: scale(1);
  }
}
